<% if !current_user %>
<h1> You have to be a logged user to proceed </h1>
<%= link_to 'Register', new_user_registration_path, class: 'btn btn-info' %>
<%= link_to 'Login', new_user_session_path, class: 'btn btn-info' %>
<% else %>
<div class="row">
       <div class="col-xs-12">
           <div class="text-center">
               <i class="fa fa-search-plus pull-left icon"></i>
               <h2>Order for purchase <%= @shopping_cart.check_vat_id %></h2>
           </div>

           <div class="row">
               <div class="col-xs-12 col-md-3 col-lg-3">
                   <div class="panel panel-default height">
                       <div class="panel-heading">Billing Details</div>
                       <div class="panel-body">
                           <strong><%= current_user.name %></strong><br>
                           Address: <%= @shopping_cart.address %><br>
                           Country: <%= session[:country] %><br>
                           ZIP: <%= @shopping_cart.zip %>

                       </div>
                   </div>
               </div>
               
           </div>
       </div>
   </div>
<div class="row">
  <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="text-center"><strong>Order summary</strong></h3>
          </div>
          <div class="panel-body">
              <div class="table-responsive">
                  <table class="table table-condensed">
                      <thead>
                          <tr>
                              <td><strong>Item Name</strong></td>
                              <td class="text-center"><strong>Item Price</strong></td>
                          </tr>
                      </thead>
                      <tbody>
                        <% @shopping_cart.shopping_cart_items.each do |item| %>
                        <% if !current_user.products.include? item %>

                        <tr>
                            <td><%= item.name %></td>
                            <td class="text-center">$<%= item.price %></td>
                        </tr>

                        <% else %>
                        <% @shopping_cart.total = @shopping_cart.total - item.price %>
                        <% end %>
                          <% end %>
                          <tr>
                              <td class="highrow"></td>
                              <td class="highrow"></td>
                              <td class="highrow text-center"><strong> <%= @shopping_cart.check_country_vat %></td> </strong>

                              <td class="highrow text-right"><%= @shopping_cart.subtotal %></td>
                          </tr>

                          <tr>
                              <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                              <td class="emptyrow"></td>
                              <td class="emptyrow text-center"><strong>Total
                              </strong></td>
                              <td class="emptyrow text-right"><strong><%= @shopping_cart.total %></strong></td>
                          </tr>


                      </tbody>
                  </table>
              </div>
          </div>
      </div>

<%= simple_form_for @order do |f| %>
<%= f.input :vat_id, as: :hidden, input_html: { value: @shopping_cart.vat_id} %>
<%= f.input :address , as: :hidden, input_html: { value: @shopping_cart.address} %>
<%= f.input :shopping_cart, as: :hidden, input_html: { value: @shopping_cart.id} %>

<input type="hidden" name="product_ids" value="<%= @product_ids %>">
<%= f.input :total_payment , as: :hidden, input_html: { value: (@shopping_cart.total * 100).to_i} %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_OzSce5u3yDgLNsSugkbG9Ed1"
    data-amount="<%= @shopping_cart.total * 100 %>"
    data-name="Demo Site"
    data-description="Payment for invoice <%= @shopping_cart.vat_id %>"
    data-image="/128x128.png">
  </script>


<% end %>
  </div>
</div>

<% end %>
