quantity = parseInt($('#item-<%= @product.id %> > td:nth-child(2)').text());
quantity -= 1;
$('#item-<%= @product.id %> > td:nth-child(2)').text(quantity);
$('#price > h3').text('<%= @shopping_cart.total %>');
