      <div class="row">
        <div class="col-xs-6 col-xs-offset-5">
          <h1>INVOICE</h1>
          <h1><small><%= @invoice.check_vat_id %></small></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>From: Your Name
            </div>
            <div class="panel-body">
              <p>
              Your  Address <br>
              Your  details <br>
                more <br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>To : <%= current_user.name %></h4>
            </div>
            <div class="panel-body">
              <p>
                <%= @invoice.address %> <br>
                <%= @invoice.city %>
                <%= @invoice.zip %> <br>
                <%= Country.find_country_by_alpha2(@invoice.country) %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- / end client details section -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>
              <h4>File</h4>
            </th>

            <th>
              <h4>Price</h4>
            </th>

          </tr>
        </thead>
        <tbody>
          <% @invoice.shopping_cart_items.each do |item| %>
          <tr>
            <td><%= item.name %></td>

            <td class="text-right"><%= item.price %></td>

          </tr>
          <% end %>

        </tbody>
      </table>
      <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
          <p>
            <strong>
            Sub Total : <br>
            TAX : <br>
            Total : <br>
            </strong>
          </p>
        </div>
        <div class="col-xs-2">
          <strong>
            <%= @invoice.subtotal %><br>
          <%= @invoice.check_country_vat %> <br>
          <%= @invoice.total %> <br>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h4>Bank details</h4>
            </div>
            <div class="panel-body">
              <p>Your Name</p>
              <p>Bank Name</p>
              <p>SWIFT : --------</p>
              <p>Account Number : --------</p>
              <p>IBAN : --------</p>
            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="span7">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Contact Details</h4>
              </div>
              <div class="panel-body">
                <p>
                  Email : you@example.com <br><br>
                  Mobile : -------- <br> <br>
                </p>
                <h4>Payment should be made by Bank Transfer</h4>
              </div>
            </div>
          </div>
        </div>
        <%= link_to 'Generate PDF', generate_pdf_path(@invoice, format: 'pdf'), class: "btn btn-info" %>
      </div>
