<table class="table table=stripped">
  <tr>
    <th>Name</th>
    <th>Action</th>
<% @shopping_cart.shopping_cart_items.each do |item| %>
<tr id="item-<%= item.item_id%>">
<td><%= item.name %></td>
<td>
<%= link_to 'remove', remove_from_cart_path(item.item_id), class: 'btn btn-danger' %>
</td>
</tr>
<% end %>
</table>
<div class="span6 pull-right" id="price">
<h2>
  Price without VAT
</h2>
<h3>
<%= @shopping_cart.subtotal %>
</h3>
<%= link_to 'Checkout', update_cart_path, class: 'btn btn-success' %>
</div>
