
<h2>In order to finish the checkout, you have to provide your address and Vat_id</h2>


    <div class="col-xs-12 col-md-8 col-lg-8 col-lg-offset-2">
        <div class="panel panel-default height">
            <div class="panel-heading">Billing Details</div>
            <div class="panel-body">
              <%= render 'form' %>

            </div>
        </div>
    </div>
