<tr id="<%= product.name %>">
  <td><%= product.name %></td>
  <td><%= product.price %></td>
      <% if user_signed_in? %>
      <% if current_user.products.include? product %>
      <td><%= link_to 'Buy it!', add_to_cart_path(product.id), class: 'btn btn-success disabled' %></td>

  <% else %>
  <td><%= link_to 'Buy it!', add_to_cart_path(product.id), class: 'btn btn-info' %></td>
  <% end %>
  <% else %>
  <td><%= link_to 'Buy it!', add_to_cart_path(product.id), class: 'btn btn-success' %></td>
  <% end %>
</tr>
